.taskCard {
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #cccccc;
    padding: 10px;
    margin: 30px auto;
    box-sizing: border-box;
    background: cornflowerblue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
}

.checkbox {
    background: #cccccc;
    width: 5px;
    border: 1px solid black;
}

.task-text {
    margin: 0 10px;
}

.del {
    position: absolute;
    bottom: 0;
    right: 0;
    color: red;
}